.subheading a{
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;
     transform: matrix(-50,-50%, 50, -50, 0, 0);
  padding: 0.3rem 0.5rem;
  margin: 0 ;
  position: relative;
  z-index: 9999 !important;

}
.sub {
   
    color: inherit;
    transition: color 0.5s ease;
    transform: matrix(-50,-50%, 50, -50, 0, 0);
    font-size: 1.2rem;
    font-weight: 500;
    word-spacing: 10px;
}


    .subheading a:hover {
        color: #ffc107; /* لون أصفر عند التحويم */
    }
.overlay {
  pointer-events: auto !important;
}


